* {
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

body {
    background-color: #20242a;
}

.text__Center {
    text-align: center;
    margin: auto;
}

.text__Primary {
    color: #d87344;
}

.text__Secondary {
    color: #449ed6;
}

.text__Tertiary {
    color: #714536;
}
